<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="banana_bitcoin">

<div ng-controller="BitcoinIndicatorController as bitcIndCtrl">

  <table>
    <thead>
      <tr>
        <th>Max. Precio Compra</th>
        <th>Min. Precio Venta</th>
        <th>MaxPC - MinPV</th>
        <th>Compradores - Vendedores</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in indicatorData">
      <td>{{entry.BID}}</td>
      <td>{{entry.ASK}}</td>
      <td>{{entry.BID - entry.ASK}}</td>
      <td>{{entry.BID_SIZE - entry.ASK_SIZE}}</td>
    </tr>
    </tbody>
  </table>

</div>

</body>
</html>
